*.err
*.out
*.pyc
wandb
/data_preparation/vis_results/
/data_preparation/vis_results_new/
/LLAVA_Stage1_Pretrained/
/work_dirs/
/llava.egg-info/
/data_preparation/data/
/vis_results/
model_worker*
/playground/
*.jsonl
*.pth
gradio_demo/tmp_files
llava_bench_results
symmary_results
eval_gpt4
vis_results_pdf_precision
vis_results_pdf_recall

*.log
*.json